.profile__info {
  max-width: 62.5%;
  width: 100%;
}

@media screen and (max-width: 650px) {
  .profile__info  {
    margin-bottom: 36px;
  }
}
@media screen and (max-width: 350px) {
  .profile__info  {
    max-width: 100%;
  }
}
