.profile__edit-button {
  width: 24px;
  height: 24px;
  background: url('../../../images/edit-button.svg') center no-repeat;
  background-size: 10px 10px;
  border: 1px solid #ffffff;
  flex-shrink: 0;
}
.profile__edit-button:hover {
  opacity: 0.6;
}
@media screen and (max-width: 650px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    background-size: 7px 7px;
  }
}
