.elements__delete-button {
  border: none;
  width: 18px;
  height: 19px;
  position: absolute;
  top: 20px;
  right: 20px;
  background: url('../../../images/delete-button.svg') center no-repeat;
  background-size: cover;
}

.elements__delete-button:hover {
  opacity: 0.6;
}

