.header {
  padding-top: 45px;
  padding-bottom: 40px;
  margin: 0 auto;
  max-width: 880px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
}
@media screen and (max-width: 420px) {
  .header {
    padding: 28px 0 32px 0;
  }
}
